OnionSkinning.xcodeproj/project.xcworkspace/contents.xcworkspacedata
.idea/.name
.idea/OnionSkinning.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/xcode.xml